In [1]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/pandas/__init__.py:49: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

## Object Creation

Creating a pandas-on-Spark Series by passing a list of values, letting pandas API on Spark create a default integer index:

In [2]:
!echo $PYARROW_IGNORE_TIMEZONE

1

In [3]:
import pandas as pd
pd.__version__

'1.5.3'

In [4]:
# %pip install -U pandas==1.5.3

In [5]:
s = ps.Series([1, 3, 5, np.nan, 6, 8])

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [

23/04/13 18:44:58 WARN Utils: Your hostname, appuprakhya-ThinkPad-T470p resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp3s0)
23/04/13 18:44:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/13 18:44:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
psdf = ps.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [8]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [9]:
dates = pd.date_range('20130101', periods=6)

In [10]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [12]:
pdf

                   A         B         C         D
2013-01-01 -0.549459  0.114050  1.150991 -1.819847
2013-01-02  2.189067 -0.493783  0.190998  2.351637
2013-01-03  0.250248  0.578461 -0.422280 -1.599525
2013-01-04  0.250569 -1.295138  0.370273  1.405862
2013-01-05 -0.472869 -2.133388 -0.880497 -0.903474
2013-01-06  0.535409 -0.553391  0.544632 -0.414311

In [13]:
psdf = ps.from_pandas(pdf)

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [14]:
psdf

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D
2013-01-01 -0.549459  0.114050  1.150991 -1.819847
2013-01-02  2.189067 -0.493783  0.190998  2.351637
2013-01-03  0.250248  0.578461 -0.422280 -1.599525
2013-01-04  0.250569 -1.295138  0.370273  1.405862
2013-01-05 -0.472869 -2.133388 -0.880497 -0.903474
2013-01-06  0.535409 -0.553391  0.544632 -0.414311

In [15]:
type(psdf)

pyspark.pandas.frame.DataFrame

In [16]:
spark = SparkSession.builder.getOrCreate()
sdf = spark.createDataFrame(pdf)
sdf.show()

/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/appuprakhya/anaconda3/envs/pyspark/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+--------------------+--------------------+--------------------+--------------------+
|                   A|                   B|                   C|                   D|
+--------------------+--------------------+--------------------+--------------------+
| -0.5494591756074466| 0.11404969978887206|  1.1509906284073204|  -1.819847063799553|
|   2.189066958397881|-0.49378250905180365|  0.1909977676013802|    2.35163738806453|
|  0.2502483327144156|  0.5784606762116029|-0.42227992449406143| -1.5995248545272804|
| 0.25056931713767194| -1.2951383769468834| 0.37027346490231333|  1.4058622110737231|
|-0.47286880100724477|  -2.133387615682911| -0.8804972717666036| -0.9034744882326203|
|  0.5354088039358802| -0.5533907786066469|  0.5446315660241577|-0.41431084458509215|
+--------------------+--------------------+--------------------+--------------------+