In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

23/04/13 18:40:31 WARN Utils: Your hostname, appuprakhya-ThinkPad-T470p resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp3s0)
23/04/13 18:40:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/13 18:40:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
print(spark.version)

3.3.2

In [3]:
import sys

print(sys.executable)
print(sys.version)
print(sys.version_info)

from platform import python_version
print(python_version())

/home/appuprakhya/anaconda3/envs/pyspark/bin/python
3.10.10 | packaged by conda-forge | (main, Mar 24 2023, 20:08:06) [GCC 11.3.0]
sys.version_info(major=3, minor=10, micro=10, releaselevel='final', serial=0)
3.10.10

In [36]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 1, 12, 0))
])

df.show()

#dates_input = df["e"].values.astype('datetime')
df.printSchema()

df.columns

df.select("a", "b", "c").describe().show()

#df.toPandas()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-01 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

+-------+------------------+------------------+-------+
|summary|                 a|                 b|      c|
+-------+------------------+------------------+-------+
|  count|                 3|                 3|      3|
|   mean|2.3333333333333335|3.3333333333333335|   null|
| stddev|1.5275252316519468|1.5275252316519468|   null|
|    min|                 1|               2.0|string1|
|    max|                 4|               5.0|string3|
+-------+------------------+------------------+-------+