# Different ways to create pandas dataframe


https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

## Creating DataFrame using numpy array

In [14]:
# Import pandas library 
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=6)
dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.837614  1.226823  0.455090 -1.697658
2013-01-02 -0.354608 -0.520846 -0.504482  0.449076
2013-01-03  0.690054 -0.313716  0.431620 -0.406531
2013-01-04 -0.141832  0.085958 -0.306799  1.752105
2013-01-05 -0.998238 -0.501467  1.253448 -0.476000
2013-01-06  0.208769  0.137463 -0.402916  0.198995

## Creating a DataFrame by passing a dict of objects

In [16]:
df2 = pd.DataFrame({'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D': np.array([3] * 4, dtype='int32'),
                     'E': pd.Categorical(["test", "train", "test", "train"]),
                     'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

## Creating Pandas DataFrame from lists of lists

In [2]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

## Creating DataFrame from dict of narray/lists

In [5]:
# Python code demonstrate creating  
# DataFrame from dict narray / lists  
# By default addresses. 
  
import pandas as pd 
  
# intialise data of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
# Print the output. 
df

   Age   Name
0   20    Tom
1   21   nick
2   19  krish
3   18   jack

## Creates a indexes DataFrame using arrays.

In [6]:
# Python code demonstrate creating  
# pandas DataFrame with indexed by  
  
# DataFrame using arrays. 
import pandas as pd 
  
# initialise data of lists. 
data = {'Name':['Tom', 'Jack', 'nick', 'juli'], 'marks':[99, 98, 95, 90]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['rank1', 'rank2', 'rank3', 'rank4']) 
  
# print the data 
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

## Creating Dataframe from list of dicts

In [7]:
# Python code demonstrate how to create  
# Pandas DataFrame by lists of dicts. 
import pandas as pd 
  
# Initialise data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}] 
  
# Creates DataFrame. 
df = pd.DataFrame(data) 
  
# Print the data 
df

    a   b   c
0   1   2   3
1  10  20  30

In [8]:
# Python code demonstrate to create a 
# Pandas DataFrame with lists of  
# dictionaries as well as  
# row and column indexes. 
   
import pandas as pd 
   
# Intitialise lists data. 
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] 
   
# With two column indices, values same  
# as dictionary keys 
df1 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b']) 
   
# With two column indices with  
# one index with other name 
df2 = pd.DataFrame(data, index =['first', 'second'], columns =['a', 'b1']) 
   
# print for first data frame 
print (df1, "\n") 
   
# Print for second DataFrame. 
print (df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

## Creating dataframe from list of tuples

In [9]:
# Python program to demonstrate creating  
# pandas Datadaframe from lists using zip.  
    
import pandas as pd  
    
# List1  
Name = ['tom', 'krish', 'nick', 'juli']  
    
# List2  
Age = [25, 30, 26, 22]  
    
# get the list of tuples from two lists.  
# and merge them by using zip().  
list_of_tuples = list(zip(Name, Age))  
    
# Assign data to tuples.  
list_of_tuples   
  
  
# Converting lists of tuples into  
# pandas Dataframe.  
df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])  
     
# Print data.  
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

## Creating DataFrame from Dicts of series

In [10]:
# Python code demonstrate creating 
# Pandas Dataframe from Dicts of series. 
  
import pandas as pd 
  
# Intialise data to Dicts of series. 
d = {'one' : pd.Series([10, 20, 30, 40], index =['a', 'b', 'c', 'd']), 
      'two' : pd.Series([10, 20, 30, 40], index =['a', 'b', 'c', 'd'])} 
  
# creates Dataframe. 
df = pd.DataFrame(d) 
  
# print the data. 
df

   one  two
a   10   10
b   20   20
c   30   30
d   40   40